In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn                        import metrics, svm
from sklearn.linear_model           import LogisticRegression
from sklearn import preprocessing
from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns

In [3]:
f = pd.read_csv (r'C:\Users\shahb\OneDrive\Desktop\ninety_days_aggregated_data_ca_drought.csv')
print(f)

       Unnamed: 0    fips   PRECTOT          PS      QV2M        T2M  \
0               0  6001.0  0.196000  100.487000  5.158000   7.692000
1               0  6001.0  1.709412  100.257059  5.701765   8.592941
2               0  6001.0  5.068333  100.105833  6.274583   9.290833
3               0  6001.0  4.312581  100.076129  6.227097   9.242903
4               0  6001.0  3.762632  100.067105  6.358947   9.557368
...           ...     ...       ...         ...       ...        ...
63563           0  6115.0  0.586000   95.797222  3.967889  16.987444
63564           0  6115.0  1.059778   95.826000  3.981444  15.774889
63565           0  6115.0  1.363333   95.881111  3.865667  14.584333
63566           0  6115.0  1.706778   95.900556  3.775444  13.172000
63567           0  6115.0  1.894186   95.929302  3.846860  11.910581

         T2MDEW    T2MWET    T2M_MAX    T2M_MIN  ...         TS     WS10M  \
0      3.782000  3.810000  13.969000   3.687000  ...   7.392000  2.666000
1      5.245294  5.262941  14.011176   4.871765  ...   8.114706  2.854706
2      6.589167  6.601667  14.182917   5.894167  ...   8.776250  2.808750
3      6.543226  6.553871  14.189677   5.745484  ...   8.753548  2.783871
4      6.895263  6.903947  14.776316   5.984211  ...   8.990000  2.743158
...         ...       ...        ...        ...  ...        ...       ...
63563 -0.969000 -0.422778  25.221556  11.087333  ...  16.093444  2.624444
63564 -0.911556 -0.120444  23.802333  10.094667  ...  14.893667  2.644556
63565 -1.221556 -0.182556  22.430444   9.108778  ...  13.545556  2.597889
63566 -1.462889 -0.192333  20.816889   7.925000  ...  12.086444  2.616889
63567 -1.190465  0.204419  19.403953   6.821279  ...  10.898372  2.645465

       WS10M_MAX  WS10M_MIN  WS10M_RANGE     WS50M  WS50M_MAX  WS50M_MIN  \
0       4.207000   1.488000     2.719000  4.001000   5.938000   2.173000
1       4.770588   1.411765     3.357647  4.334118   6.690000   2.225294
2       4.680000   1.409583     3.270417  4.319583   6.540833   2.277500
3       4.532903   1.407419     3.124839  4.286129   6.458065   2.277419
4       4.506579   1.361316     3.144474  4.222368   6.416842   2.210263
...          ...        ...          ...       ...        ...        ...
63563   3.853333   1.063889     2.789556  4.271778   6.571111   1.630778
63564   3.908111   1.053111     2.854778  4.335111   6.682444   1.628556
63565   3.864000   0.988111     2.875556  4.265222   6.674000   1.499111
63566   3.894222   0.998889     2.894889  4.311444   6.716778   1.537667
63567   3.944884   1.037907     2.906628  4.387326   6.815000   1.603721

       WS50M_RANGE   score
0         3.766000  0.6079
1         4.465294  0.5036
2         4.263333  0.0000
3         4.180968  0.0000
4         4.207105  0.0000
...            ...     ...
63563     4.940444  3.2744
63564     5.054111  3.2744
63565     5.175111  3.2744
63566     5.179222  3.2744
63567     5.211279  3.2744

[63568 rows x 21 columns]

In [4]:
s=f.drop(['Unnamed: 0','fips'], 1)
print(s)

        PRECTOT          PS      QV2M        T2M    T2MDEW    T2MWET  \
0      0.196000  100.487000  5.158000   7.692000  3.782000  3.810000
1      1.709412  100.257059  5.701765   8.592941  5.245294  5.262941
2      5.068333  100.105833  6.274583   9.290833  6.589167  6.601667
3      4.312581  100.076129  6.227097   9.242903  6.543226  6.553871
4      3.762632  100.067105  6.358947   9.557368  6.895263  6.903947
...         ...         ...       ...        ...       ...       ...
63563  0.586000   95.797222  3.967889  16.987444 -0.969000 -0.422778
63564  1.059778   95.826000  3.981444  15.774889 -0.911556 -0.120444
63565  1.363333   95.881111  3.865667  14.584333 -1.221556 -0.182556
63566  1.706778   95.900556  3.775444  13.172000 -1.462889 -0.192333
63567  1.894186   95.929302  3.846860  11.910581 -1.190465  0.204419

         T2M_MAX    T2M_MIN  T2M_RANGE         TS     WS10M  WS10M_MAX  \
0      13.969000   3.687000  10.283000   7.392000  2.666000   4.207000
1      14.011176   4.871765   9.138824   8.114706  2.854706   4.770588
2      14.182917   5.894167   8.288750   8.776250  2.808750   4.680000
3      14.189677   5.745484   8.443871   8.753548  2.783871   4.532903
4      14.776316   5.984211   8.791579   8.990000  2.743158   4.506579
...          ...        ...        ...        ...       ...        ...
63563  25.221556  11.087333  14.134667  16.093444  2.624444   3.853333
63564  23.802333  10.094667  13.707778  14.893667  2.644556   3.908111
63565  22.430444   9.108778  13.321889  13.545556  2.597889   3.864000
63566  20.816889   7.925000  12.892333  12.086444  2.616889   3.894222
63567  19.403953   6.821279  12.582907  10.898372  2.645465   3.944884

       WS10M_MIN  WS10M_RANGE     WS50M  WS50M_MAX  WS50M_MIN  WS50M_RANGE  \
0       1.488000     2.719000  4.001000   5.938000   2.173000     3.766000
1       1.411765     3.357647  4.334118   6.690000   2.225294     4.465294
2       1.409583     3.270417  4.319583   6.540833   2.277500     4.263333
3       1.407419     3.124839  4.286129   6.458065   2.277419     4.180968
4       1.361316     3.144474  4.222368   6.416842   2.210263     4.207105
...          ...          ...       ...        ...        ...          ...
63563   1.063889     2.789556  4.271778   6.571111   1.630778     4.940444
63564   1.053111     2.854778  4.335111   6.682444   1.628556     5.054111
63565   0.988111     2.875556  4.265222   6.674000   1.499111     5.175111
63566   0.998889     2.894889  4.311444   6.716778   1.537667     5.179222
63567   1.037907     2.906628  4.387326   6.815000   1.603721     5.211279

        score
0      0.6079
1      0.5036
2      0.0000
3      0.0000
4      0.0000
...       ...
63563  3.2744
63564  3.2744
63565  3.2744
63566  3.2744
63567  3.2744

[63568 rows x 19 columns]

In [5]:
s['score'] = s['score'].round()
print(s.score)
print(s.score.value_counts())

0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
63563    3.0
63564    3.0
63565    3.0
63566    3.0
63567    3.0
Name: score, Length: 63568, dtype: float64
0.0    27785
1.0    10371
2.0     9985
3.0     7722
4.0     3911
5.0     3794
Name: score, dtype: int64

In [6]:
s['score'] = s["score"].replace([2,3,4,5],1)
print(s)

        PRECTOT          PS      QV2M        T2M    T2MDEW    T2MWET  \
0      0.196000  100.487000  5.158000   7.692000  3.782000  3.810000
1      1.709412  100.257059  5.701765   8.592941  5.245294  5.262941
2      5.068333  100.105833  6.274583   9.290833  6.589167  6.601667
3      4.312581  100.076129  6.227097   9.242903  6.543226  6.553871
4      3.762632  100.067105  6.358947   9.557368  6.895263  6.903947
...         ...         ...       ...        ...       ...       ...
63563  0.586000   95.797222  3.967889  16.987444 -0.969000 -0.422778
63564  1.059778   95.826000  3.981444  15.774889 -0.911556 -0.120444
63565  1.363333   95.881111  3.865667  14.584333 -1.221556 -0.182556
63566  1.706778   95.900556  3.775444  13.172000 -1.462889 -0.192333
63567  1.894186   95.929302  3.846860  11.910581 -1.190465  0.204419

         T2M_MAX    T2M_MIN  T2M_RANGE         TS     WS10M  WS10M_MAX  \
0      13.969000   3.687000  10.283000   7.392000  2.666000   4.207000
1      14.011176   4.871765   9.138824   8.114706  2.854706   4.770588
2      14.182917   5.894167   8.288750   8.776250  2.808750   4.680000
3      14.189677   5.745484   8.443871   8.753548  2.783871   4.532903
4      14.776316   5.984211   8.791579   8.990000  2.743158   4.506579
...          ...        ...        ...        ...       ...        ...
63563  25.221556  11.087333  14.134667  16.093444  2.624444   3.853333
63564  23.802333  10.094667  13.707778  14.893667  2.644556   3.908111
63565  22.430444   9.108778  13.321889  13.545556  2.597889   3.864000
63566  20.816889   7.925000  12.892333  12.086444  2.616889   3.894222
63567  19.403953   6.821279  12.582907  10.898372  2.645465   3.944884

       WS10M_MIN  WS10M_RANGE     WS50M  WS50M_MAX  WS50M_MIN  WS50M_RANGE  \
0       1.488000     2.719000  4.001000   5.938000   2.173000     3.766000
1       1.411765     3.357647  4.334118   6.690000   2.225294     4.465294
2       1.409583     3.270417  4.319583   6.540833   2.277500     4.263333
3       1.407419     3.124839  4.286129   6.458065   2.277419     4.180968
4       1.361316     3.144474  4.222368   6.416842   2.210263     4.207105
...          ...          ...       ...        ...        ...          ...
63563   1.063889     2.789556  4.271778   6.571111   1.630778     4.940444
63564   1.053111     2.854778  4.335111   6.682444   1.628556     5.054111
63565   0.988111     2.875556  4.265222   6.674000   1.499111     5.175111
63566   0.998889     2.894889  4.311444   6.716778   1.537667     5.179222
63567   1.037907     2.906628  4.387326   6.815000   1.603721     5.211279

       score
0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
...      ...
63563    1.0
63564    1.0
63565    1.0
63566    1.0
63567    1.0

[63568 rows x 19 columns]

In [7]:
s.head()

,PRECTOT,PS,QV2M,T2M,T2MDEW,T2MWET,T2M_MAX,T2M_MIN,T2M_RANGE,TS,WS10M,WS10M_MAX,WS10M_MIN,WS10M_RANGE,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,score
0,0.196000,100.487000,5.158000,7.692000,3.782000,3.810000,13.969000,3.687000,10.283000,7.392000,2.666000,4.207000,1.488000,2.719000,4.001000,5.938000,2.173000,3.766000,1.0
1,1.709412,100.257059,5.701765,8.592941,5.245294,5.262941,14.011176,4.871765,9.138824,8.114706,2.854706,4.770588,1.411765,3.357647,4.334118,6.690000,2.225294,4.465294,1.0
2,5.068333,100.105833,6.274583,9.290833,6.589167,6.601667,14.182917,5.894167,8.288750,8.776250,2.808750,4.680000,1.409583,3.270417,4.319583,6.540833,2.277500,4.263333,0.0
3,4.312581,100.076129,6.227097,9.242903,6.543226,6.553871,14.189677,5.745484,8.443871,8.753548,2.783871,4.532903,1.407419,3.124839,4.286129,6.458065,2.277419,4.180968,0.0
4,3.762632,100.067105,6.358947,9.557368,6.895263,6.903947,14.776316,5.984211,8.791579,8.990000,2.743158,4.506579,1.361316,3.144474,4.222368,6.416842,2.210263,4.207105,0.0

In [8]:
y = pd.DataFrame(s['score'])
y.head()

   score
0    1.0
1    1.0
2    0.0
3    0.0
4    0.0

In [9]:
y_l = pd.get_dummies(y['score'], prefix='D')
print(y_l.head())

   D_0.0  D_1.0
0      0      1
1      0      1
2      1      0
3      1      0
4      1      0

In [19]:
features = s.drop(['score'],axis=1)
labels = s['score']
feature_list = list(s.columns)
features = np.array(features)

In [20]:
labels

0        1.0
1        1.0
2        0.0
3        0.0
4        0.0
        ...
63563    1.0
63564    1.0
63565    1.0
63566    1.0
63567    1.0
Name: score, Length: 63568, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.3, random_state = 42)

In [22]:
train_features.shape, test_features.shape, train_labels.shape, test_labels.shape

((44497, 18), (19071, 18), (44497,), (19071,))

In [23]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);

In [24]:
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 0.27 degrees.

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, predictions.round(), sample_weight=None)

0.8547532903361125

In [27]:
f = pd.DataFrame(predictions)
f

              0
0      0.478333
1      0.232000
2      0.489000
3      0.632000
4      0.751000
...         ...
19066  0.659000
19067  0.884333
19068  0.203000
19069  0.167000
19070  0.649000

[19071 rows x 1 columns]

In [34]:
pip install scikit-multilearn

Requirement already satisfied: scikit-multilearn in c:\users\shahb\anaconda3\lib\site-packages (0.2.0)
Note: you may need to restart the kernel to use updated packages.

In [35]:
from skmultilearn.problem_transform import BinaryRelevance
from sklearn.naive_bayes import GaussianNB

# initialize binary relevance multi-label classifier
# with a gaussian naive bayes base classifier
classifier = BinaryRelevance(GaussianNB())

# train
classifier.fit(train_features, train_labels)

# predict
predictions = classifier.predict(test_features)

In [36]:
accuracy_score(test_labels,predictions)

0.6345236222536836